.form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;

    select,
    textarea {
        width: 100%;
        margin-bottom: 15px;
        padding: 10px;
        border: 1px solid #ccc;
    }

    button {
        @include flex-center;
        width: 100%;
        padding: 10px;
        background-color: $primary-color;
        color: #fff;
        border: none;
        cursor: pointer;

        &:hover {
            background-color: darken($primary-color, 10%);
        }
    }
}
